:root {
    --main: #ff9f43;
    --primary: #ffffff;
    --background: #f8f8f8;
    --contact: #e5ecf0;
    --text: #000000;
    --shadow: rgba(233, 224, 224, 0.527);
}

.dark-theme {
    --primary: #292929;
    --background: #1A1A1A;
    --contact: #2a2a2b;
    --text: #ffffff;
    --shadow: rgba(59, 57, 57, 0.397);
}

body {
    background-color: var(--background);

    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
    border: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}


.fa-2xl {
    color: var(--main);
}

header {
    height: 5rem;
    background-color: var(--primary);
}

.navbar {
    display: flex;
    margin-inline: 24%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 100%;
    font-size: large;
    color: var(--text);
}

.left span {
    color: var(--main);
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-bar {
    width: 60%;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.search-bar i {
    color: black;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 3%;

    color: #8c9199;
}

.right li {
    min-width: 4rem;
}

.fa-bars {
    display: none !important;
    line-height: normal;
}

.container {
    margin-inline: 24%;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.info {
    background-color: var(--primary);
    color: var(--text);
    width: 22%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    text-align: center;
    height: 70%;
    box-shadow: 1.5px 0.5px var(--shadow);
}

.info-icon {
    padding-top: 2rem;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    gap: 20px 20px;
    margin-block: 2rem;
}

.about {
    background-color: var(--main);
    border-radius: 1rem;
    color: white;
    background-image: url(thisisengineering-raeng-8hgmG03spF4-unsplash.jpg);
    background-size: cover;
    overflow: hidden;
    background-position-x: center;
}
.about h1{
    font-size:1.5em;
}

.about-content {
    padding-inline: 7%;
    padding-block: 2%;
    background: rgba(255, 159, 67, 0.55);
    height: 100%;
    border-radius: 1rem;
}

.contact {
    grid-area: 1 / 2 / 3 / 3;
    background-color: var(--contact);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding-inline: 2rem;
    padding-block: 3rem;
    color: #8D8D8D;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.contact-button {
    background-color: var(--main);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: var(--primary);
}

.article-grid {
    display: grid;
    gap: 20px 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.article {
    background-color: white;
    border-radius: 1rem;
    padding: 3%;
    border-left: solid 5px var(--main);
    display: flex;
    gap: 6%;
    overflow: hidden;
    box-shadow: 1.5px 0.5px var(--shadow);
    background-color: var(--primary);
}

.article-img {
    background-color: var(--main);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image: url(anton-maksimov-5642-su-vtbgoLMPeG4-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.article-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--text);
}

.tags {
    display: flex;
    gap: 2%;
}

.tag {
    background-color: var(--main);
    color: var(--primary);
    border-radius: 5px;
    font-size: small;
    padding-block: 1%;
    padding-inline: 5%;
}

.article-title {
    font-size: 17px;
    margin: 0;
    line-height: 1.2rem;
    cursor: pointer;
}

.article-content {
    line-height: 1rem;
}

.article-info {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--main);
    height: 2rem;

    display: flex;
    align-items: center;
}

.footer-content {
    margin-inline: 24%;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fa-lightbulb {
    line-height: normal !important;
    color: var(--primary);
    cursor: pointer;
}

@media only screen and (max-width: 1550px) {
    .navbar {
        margin-inline: 14%;
    }

    .container {
        margin-inline: 14%;
    }

    footer {
        margin-inline: 14%;
    }

    .article-info {
        flex-direction: column;
    }

}

@media only screen and (max-width: 768px) {
    .article-img {
        display: none;
    }

    .navbar {
        margin-inline: 5%;
    }

    .container {
        margin-inline: 5%;
    }

    footer {
        margin-inline: 5%;
    }
}

@media only screen and (max-width: 425px) {
    .right li {
        display: none;
    }

    .search-bar {
        width: 90%;
    }

    .left {
        width: 50%;
    }

    .right {
        width: 50%;
        justify-content: center;
    }

    .fa-bars {
        display: block !important;
        cursor: pointer;
        color: var(--text);
    }

    .info {
        width: 24%;
    }

    .info h3 {
        font-size: 15px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr)
    }

    .about {
        grid-area: 1 / 1 / 2 / 2;
    }

    .contact {
        grid-area: 3 / 1 / 4 / 2;
    }
}